
.game {
    min-height: 100vh;
    background-color: #f0f0f0;
    background-image: radial-gradient(circle at 66vw 80vh, #fff, #39c);
    background-image: radial-gradient(circle at 66vw 80vh, #eee, #999);
    background-attachment: fixed;
    padding: 2em;

    > h1 {
        padding: 0 0 1em 0;
        text-shadow: 0 0 4px #fff;
    }
}

.gameEncounter {
    display: block;
    text-decoration: none;
    background: #fff;
    padding: 0.5em 1em;
    border-radius: 0.5em;

    &:hover {
        box-shadow: inset 0 0 0.5em #ffc, inset 0 0 0.5em #ffc;
        // background: #f0f8ff;
    }
}
